<div *ngIf="business" class="detail-container">

  <!-- BACK -->
  <a
    [routerLink]="['/businesses', categoryId, subcategoryId]"
    [queryParams]="{
      categoryName: categoryName,
      subcategoryName: subcategoryName
    }"
    class="back"
  >
    ← Back to Businesses
  </a>

    <p class="category">
    {{ business.categoryName | titlecase }} › {{ business.subcategoryName | titlecase }}
  </p>

  <!-- MAIN CARD -->
  <div class="main-card">

    <!-- LEFT: IMAGE -->
    <div class="image-section">
      <div class="main-image">

        <img
          *ngIf="business.primaryImage"
          [src]="business.primaryImage"
        />

        <div *ngIf="!business.primaryImage" class="image-placeholder">
          <span>📷</span>
          <p>No Image Available</p>
        </div>

      </div>
    </div>

    <!-- RIGHT: DETAILS -->
    <div class="info-section">

      <div class="title-row">
        <h1>Business Name : {{ business.name }}</h1>
      </div>

      

      <p class="description">
        <span>Description: </span> {{ business.description || 'No description available' }}
        reyifgeurohfljwioefhowugfohwiefjluiowehfuiwegfteshrdyfukgiygf jyf ytfyu giu y tftg ihu yfvb hiuf tvusydhofwehfoiwejhfiowehfuwgeofheifhweoifh wewhehweofoiwehfiwh fhwrhfowirhfowrhfwrhfhwrf hwr hfoiwehfoiwejpiwehfoiwehfoiwhfwehofwhehwwoih
      </p>

      <!-- CONTACT DETAILS (TEXT STYLE) -->
      <div class="contact-details">

        <div class="row">
          <span class="label">Phone</span>
          <span class="value">{{ business.phoneNumber || '—' }}</span>
        </div>

        <div class="row">
          <span class="label">Email</span>
          <span class="value">{{ business.email || '—' }}</span>
        </div>

        <div class="row">
          <span class="label">Location</span>
          <span class="value">
            {{ business.city || 'N/A' }}, {{ business.state || '' }}
          </span>
        </div>

      </div>

      <!-- ACTIONS -->
      <div class="actions">
        <button class="contact-btn">Contact Business</button>
        <button class="direction-btn">Get Directions</button>
      </div>

    </div>

  </div>

</div>