/* MAIN CONTAINER */
.profile-container {
  padding: 40px 35px;
  color: #F8F4F0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* TITLE */
.title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #C8A97E;
  font-weight: 600;
}

/* CARD BLOCK */
.info-block {
  background: #1A1A1A;
  border: 1px solid #2F2F2F;
  border-radius: 12px;
  padding: 25px;
}

/* ROW */
.info-row {
  display: flex;
  align-items: flex-start;
  padding: 16px 0;
  border-bottom: 1px solid #2A2A2A;
}

/* REMOVE LAST BORDER */
.info-row:last-child {
  border-bottom: none;
}

/* LABEL */
.info-row span {
  color: #B19F91;
  font-size: 14px;
  min-width: 90px;
}

/* VALUE (IMPORTANT FIX) */
.info-row p {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  word-break: break-word;

  margin-left: auto;   
  text-align: left;
  max-width: 65%;
}

/* ADDRESS (MAIN FIX) */
.address {
  margin-left: auto;    
  text-align: left;
  max-width: 65%;
}

/* ADDRESS TEXT */
.address p {
  margin: 3px 0;
  white-space: normal;
  word-break: break-word;
}

/* BUTTON */
.actions {
  margin-top: 25px;
}

.primary-btn {
  background: #C8A97E;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #121212;
  font-weight: 600;
  transition: 0.2s;
}

.primary-btn:hover {
  background: #d6b48a;
}