<div *ngIf="isLoggedIn && user" class="profile-container">

  <h2 class="title">{{ 'PROFILE.TITLE' | translate }}</h2>

  <div class="info-block">

    <div class="info-row">
      <span>{{ 'PROFILE.USERNAME' | translate }}</span>

      <p *ngIf="!isEditMode">{{ user.fullName }}</p>
      <input *ngIf="isEditMode" [(ngModel)]="editableUser.fullName" />
    </div>

    <div class="info-row">
      <span>{{ 'PROFILE.EMAIL' | translate }}</span>
      <p *ngIf="!isEditMode">{{ user.email }}</p>
      <input *ngIf="isEditMode" [(ngModel)]="editableUser.email" />
    </div>

    <div class="info-row">
      <span>{{ 'PROFILE.ADDRESS' | translate }}</span>

      <div class="address" *ngIf="!isEditMode">
        <p>{{ user.address?.street }}, {{ user.address?.city }}</p>
        <p>{{ user.address?.state }} - {{ user.address?.pincode }}</p>
        <p>{{ user.address?.country }}</p>
      </div>

      <div class="address" *ngIf="isEditMode">
        <input [(ngModel)]="editableUser.address.street" placeholder="{{ 'PROFILE.STREET' | translate }}" />
        <input [(ngModel)]="editableUser.address.city" placeholder="{{ 'PROFILE.CITY' | translate }}" />
        <input [(ngModel)]="editableUser.address.state" placeholder="{{ 'PROFILE.STATE' | translate }}" />
        <input [(ngModel)]="editableUser.address.pincode" placeholder="{{ 'PROFILE.PINCODE' | translate }}" />
        <input [(ngModel)]="editableUser.address.country" placeholder="{{ 'PROFILE.COUNTRY' | translate }}" />
      </div>
    </div>

    <div class="info-row">
      <span>{{ 'PROFILE.PHONE' | translate }}</span>

      <p *ngIf="!isEditMode">{{ user.phone }}</p>
      <input *ngIf="isEditMode" [(ngModel)]="editableUser.phone" />
    </div>

  </div>

  <div class="actions">

  <!-- LEFT SIDE -->
  <div class="left-actions">

    <button *ngIf="!isEditMode" class="primary-btn" (click)="enableEdit()">
      {{ 'PROFILE.EDIT' | translate }}
    </button>

    <button *ngIf="isEditMode" class="primary-btn" (click)="saveProfile()">
      {{ 'PROFILE.SAVE' | translate }}
    </button>

    <button *ngIf="isEditMode" class="secondary-btn" (click)="cancelEdit()">
      {{ 'PROFILE.CANCEL' | translate }}
    </button>

  </div>

  <!-- RIGHT SIDE -->
  <div class="right-actions">
    <button class="logout-btn" (click)="logout()">
      {{ 'PROFILE.LOGOUT' | translate }}
    </button>
  </div>

</div>

</div>

<div *ngIf="isLoggedIn && isLoading" class="loading">
  {{ 'PROFILE.LOADING' | translate }}
</div>
<div *ngIf="!isLoggedIn" class="not-logged-in">

  <h2>{{ 'PROFILE.NOT_LOGGED_IN' | translate }}</h2>

  <p>
    {{ 'PROFILE.NOT_LOGGED_IN_DESC' | translate }}
  </p>

  <button class="login-btn" (click)="goToLogin()">
    {{ 'PROFILE.LOGIN_CONTINUE' | translate }}
  </button>

</div>

<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>