<div *ngIf="user" class="profile-container">

  <h2 class="title">Account Details</h2>

  <div class="info-block">

    <!-- USERNAME -->
    <div class="info-row">
      <span>Username</span>
      <p>{{ user.fullName }}</p>
    </div>

    <!-- EMAIL -->
    <div class="info-row">
      <span>Email</span>
      <p>{{ user.email }}</p>
    </div>

    <!-- ADDRESS -->
    <div class="info-row">
      <span>Address</span>
      <div class="address">
        <p>{{ user.address.street }}, {{ user.address.city }}</p>
        <p>{{ user.address.state }}  - {{ user.address.pincode }}</p>
        <p>{{ user.address.country }}</p>
      </div>
    </div>

    <!-- PHONE -->
    <div class="info-row">
      <span>Phone</span>
      <p>{{ user.phone }}</p>
    </div>

  </div>

  <div class="actions">
    <button class="primary-btn">
      Edit Profile
    </button>
  </div>

</div>

<!-- LOADING -->
<div *ngIf="!user" class="loading">
  Loading profile...
</div>