.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 40px;
  background: #2A2A2A;
  border-top: 1px solid #484948;

  color: #B19F91;
  font-size: 13px;
}

/* LEFT SIDE */
.footer-left {
  display: flex;
  gap: 20px;
}

.footer-left a {
  color: #C8A97E;
  text-decoration: none;
  font-weight: 500;
}

.footer-left a:hover {
  opacity: 0.8;
}

/* CENTER TEXT */
.footer-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #B19F91;
}