<div class="signup-wrapper">
  <!-- LEFT SIDE -->
  <div class="signup-left">
    <div class="plasma-bg"></div>
    <div class="particles"></div>
    <canvas class="lines-canvas"></canvas>
    <div class="cursor-glow"></div>
    <div class="logo-container">
      <img src="assets/remove_bg.png" alt="LocaLink Logo" />
    </div>
    <div class="left-content">
      <h1>{{ 'LOGIN.WELCOME_BACK' | translate }}</h1>
      <p>{{ 'LOGIN.SUBTITLE' | translate }}</p>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <div class="signup-right">
    <div class="signup-container">
      <!-- LANGUAGE SELECTOR -->
  <!-- SUBTITLE -->
  <p class="subtitle">
    {{ selectedType === 'client' ? ('SIGNUP.CLIENT_SUBTITLE' | translate) : ('SIGNUP.USER_SUBTITLE' | translate) }}
  </p>
  <!-- TOGGLE -->
  <div class="toggle-pill">
    <div 
      class="toggle-option" 
      [class.active]="selectedType === 'user'"
      (click)="selectType('user')">
      {{ 'SIGNUP.USER' | translate }}
    </div>

    <div 
      class="toggle-option" 
      [class.active]="selectedType === 'client'"
      (click)="selectType('client')">
      {{ 'SIGNUP.CLIENT' | translate }}
    </div>

    <div class="toggle-indicator" 
         [class.client]="selectedType === 'client'"></div>
  </div>

  <!-- FORM -->
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <!-- ================= BASIC DETAILS ================= -->
    <!-- NAME -->
    <div class="form-group full-width">
      <span class="input-title">
        {{ selectedType === 'client' ? ('SIGNUP.OWNER_NAME' | translate) : ('SIGNUP.NAME' | translate) }} *
      </span>
      <input type="text" formControlName="name" placeholder=" " (keypress)="allowOnlyLetters($event)" />

      <div class="error" *ngIf="f['name'].touched && f['name']?.errors">
        <span *ngIf="f['name'].errors?.['required']">{{ 'ERRORS.REQUIRED' | translate }}</span>
      </div>
    </div>

    <!-- PHONE -->
    <div class="form-group full-width">
      <span class="input-title">{{ 'SIGNUP.PHONE' | translate }} *</span>

      <div class="phone-group">

        <div class="code-box">
          <ng-select
            class="phone-code"
            [items]="phoneCountries"
            bindLabel="searchLabel"
            bindValue="code"
            formControlName="phoneCode"
            [searchable]="true"
            [clearable]="false"
            appendTo="body">
            <ng-template ng-label-tmp let-item="item">
              <span class="flag">{{item.flag}}</span> +{{item.code}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <span class="flag">{{item.flag}}</span>
              {{item.name}} (+{{item.code}})
            </ng-template>
          </ng-select>
        </div>

        <div class="number-box">
          <input type="tel"
                 formControlName="phone"
                 placeholder="Enter phone number"
                 inputmode="numeric"
                 (input)="onPhoneInput($event)"
                 [attr.maxlength]="signupForm.get('phoneCode')?.value === '91' ? 10 : 15" />
        </div>

      </div>

      <div class="error" *ngIf="f['phone'].touched && f['phone']?.errors">
        <span *ngIf="f['phone'].errors?.['required']">{{ 'ERRORS.REQUIRED' | translate }}</span>
        <span *ngIf="f['phone'].errors?.['pattern']">
          {{ signupForm.get('phoneCode')?.value === '91' ? ('ERRORS.PHONE_FORMAT' | translate) : ('ERRORS.INVALID_PHONE' | translate) }}
        </span>
        <span *ngIf="f['phone'].errors?.['countryMismatch']">
          {{ 'ERRORS.COUNTRY_MISMATCH' | translate }}
        </span>
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group full-width">
      <span class="input-title">{{ 'SIGNUP.EMAIL' | translate }} *</span>
      <input type="email" formControlName="email" placeholder=" " />

      <div class="error" *ngIf="f['email'].touched && f['email']?.errors">
        <span *ngIf="f['email'].errors?.['required']">{{ 'ERRORS.REQUIRED' | translate }}</span>
        <span *ngIf="f['email'].errors?.['pattern']">{{ 'ERRORS.INVALID_EMAIL' | translate }}</span>
      </div>
    </div>

    <!-- ================= LOCATION ================= -->
    <div class="form-grid">
      <!-- COUNTRY -->
      <div class="form-group">
        <span class="input-title">{{ 'CONTACT.COUNTRY' | translate }} *</span>
        <ng-select
          [items]="countries"
          bindLabel="name"
          placeholder="Select Country"
          formControlName="country"
          appendTo="body"
          (change)="onCountryChange()">
        </ng-select>
        <div class="error" *ngIf="f['country'].touched && f['country']?.errors">
          <span>{{ 'ERRORS.REQUIRED' | translate }}</span>
        </div>
      </div>

      <!-- STATE -->
      <div class="form-group">
        <span class="input-title">{{ 'CONTACT.STATE' | translate }} *</span>
        <ng-select
          [items]="states"
          bindLabel="name"
          placeholder="Select State"
          formControlName="state"
          appendTo="body"
          (change)="onStateChange()">
        </ng-select>
        <div class="error" *ngIf="f['state'].touched && f['state']?.errors">
          <span>{{ 'ERRORS.REQUIRED' | translate }}</span>
        </div>
      </div>

      <!-- CITY -->
      <div class="form-group">
        <span class="input-title">{{ 'CONTACT.CITY' | translate }} *</span>
        <ng-select
          [items]="cities"
          bindLabel="name"
          placeholder="{{ 'CONTACT.SELECT_CITY' | translate }}"
          formControlName="city"
          appendTo="body"
          (change)="onCityChange()">
        </ng-select>
        <div class="error" *ngIf="f['city'].touched && f['city']?.errors">
          <span>{{ 'ERRORS.REQUIRED' | translate }}</span>
        </div>
      </div>

      <!-- PINCODE -->
      <div class="form-group">
        <span class="input-title">{{ 'CONTACT.PINCODE' | translate }} *</span>
        <input type="text" formControlName="pincode" placeholder=" " (blur)="validatePincode()" (keypress)="allowOnlyNumbers($event)" />
        <div class="error" *ngIf="f['pincode'].touched && f['pincode']?.errors">
          <span *ngIf="f['pincode'].errors?.['required']">{{ 'ERRORS.REQUIRED' | translate }}</span>
          <span *ngIf="f['pincode'].errors?.['invalidCountry']">{{ 'ERRORS.PINCODE_COUNTRY' | translate }}</span>
          <span *ngIf="f['pincode'].errors?.['invalidState']">{{ 'ERRORS.PINCODE_STATE' | translate }}</span>
          <span *ngIf="f['pincode'].errors?.['invalidCity']">{{ 'ERRORS.PINCODE_CITY' | translate }}</span>
          <span *ngIf="f['pincode'].errors?.['invalidPincode']">{{ 'ERRORS.INVALID_PINCODE' | translate }}</span>
          <span *ngIf="!f['pincode'].errors?.['invalidCountry'] && !f['pincode'].errors?.['invalidState'] && !f['pincode'].errors?.['invalidCity'] && !f['pincode'].errors?.['invalidPincode'] && f['pincode'].errors?.['pattern']">
            {{ 'ERRORS.PINCODE_FORMAT' | translate }}
          </span>
        </div>
      </div>

      <!-- STREET (FULL WIDTH) -->
      <div class="form-group full-width">
        <span class="input-title">{{ 'CONTACT.STREET' | translate }} *</span>
        <input type="text" formControlName="street" placeholder=" " />
        <div class="error" *ngIf="f['street'].touched && f['street']?.errors">
          <span>{{ 'ERRORS.REQUIRED' | translate }}</span>
        </div>
      </div>
    </div>

    <!-- ================= SECURITY ================= -->
    <div class="form-grid">
      <!-- PASSWORD -->
      <div class="form-group">
        <span class="input-title">{{ 'SIGNUP.PASSWORD' | translate }} *</span>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder=" " />
          <span class="eye-icon" (click)="togglePassword()">
            <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div class="error" *ngIf="f['password'].touched && f['password']?.errors">
          <span>{{ 'ERRORS.PASSWORD_STRONG' | translate }}</span>
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="form-group">
        <span class="input-title">{{ 'SIGNUP.CONFIRM_PASSWORD' | translate }} *</span>
        <div class="password-wrapper">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder=" " />
          <span class="eye-icon" (click)="toggleConfirmPassword()">
            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div class="error"
             *ngIf="f['confirmPassword'].touched && signupForm.errors?.['passwordMismatch']">
          <span>{{ 'ERRORS.PASSWORD_MISMATCH' | translate }}</span>
        </div>
      </div>
    </div>

    <!-- RECAPTCHA -->
    <div class="form-group full-width captcha-wrapper">
      <div id="signup-captcha"></div>
      <div class="error" *ngIf="captchaError">
        <span>{{ 'ERRORS.CAPTCHA_REQUIRED' | translate }}</span>
      </div>
    </div>

    <!-- SUBMIT -->
    <button 
      type="submit" 
      class="signup-btn" 
      [disabled]="signupForm.invalid || isSubmitting">
      {{ isSubmitting ? ('SIGNUP.CREATING' | translate) : ('SIGNUP.SUBMIT' | translate) }}
    </button>

    <!-- REDIRECT -->
    <div class="login-redirect">
      {{ 'SIGNUP.HAVE_ACCOUNT' | translate }} <a routerLink="/login" class="redirect-link">{{ 'SIGNUP.SIGN_IN' | translate }}</a>
    </div>

  </form>

</div>
  </div>
</div>
<!-- SUCCESS POPUP -->
<div class="popup-overlay" *ngIf="showSuccessPopup">
  <div class="popup-box">
    <div class="spinner"></div>
    <h3>{{ 'SIGNUP.SUCCESS_TITLE' | translate }}</h3>
    <p>{{ 'SIGNUP.SUCCESS_MSG' | translate }}</p>
  </div>
</div>