<div class="container">
 
  <header class="header">

  <div class="logo" (click)="scrollToTop()">Localink</div>

  <div class="header-right">

    <h2 class="welcome">Welcome, {{ fullName || 'User' }}</h2>

    <div class="profile" (click)="toggleProfile()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
    </div>

  </div>

</header>
 
  <div class="hero">
    <h1>Welcome to Business Dashboard !</h1>
    <p>View and manage your registered businesses with ease.</p>
 
    <button class="btn-primary add-btn" (click)="addBusiness()">
      + Add Business
    </button>
  </div>
 
  <div *ngIf="isLoading" class="empty">
    <h3>Loading businesses...</h3>
  </div>
 
  <div *ngIf="!isLoading">
    <div *ngIf="businesses.length > 0; else emptyState" class="business-list">
      <div class="card" *ngFor="let b of businesses; trackBy: trackById">
        <h3>{{ b.businessName }}</h3>
        <p>{{ b.category | titlecase}} - {{ b.subcategory | titlecase}}</p>
        <span class="status">{{ b.status | titlecase}}</span>
 
        <div class="actions">
          <button class="btn-outline" (click)="viewBusiness(b.id)">View</button>
          <button class="btn-primary" (click)="editBusiness(b.id)">Edit</button>
        </div>
      </div>
    </div>
 
    <ng-template #emptyState>
      <div class="empty">
        <h3>No Businesses Yet</h3>
        <button class="btn-primary" (click)="addBusiness()">Add Business</button>
      </div>
    </ng-template>
  </div>
 
  <!-- VIEW MODAL -->
  <div class="view-overlay" *ngIf="selectedBusiness">
    <div class="view-card">
 
      <div class="view-header">
        <h3 class="view-title">Business Details</h3>
        <button class="close-btn" (click)="closeView()">✕</button>
      </div>
 
      <div class="view-content split-layout">
 
  <!-- LEFT SIDE -->
  <div class="details">
    <p><strong>Name:</strong> {{ selectedBusiness.businessName }}</p>
    <p><strong>Category:</strong> {{ selectedBusiness.category| titlecase  }}</p>
    <p><strong>Subcategory:</strong> {{ selectedBusiness.subcategory }}</p>
    <p><strong>Status:</strong> {{ selectedBusiness.status }}</p>
    <p><strong>Description:</strong> {{ selectedBusiness.description }}</p>

    <p><strong>Country:</strong> {{ selectedBusiness.contact.country || 'N/A' }}</p>
    <p><strong>State:</strong> {{ selectedBusiness.contact.state || 'N/A' }}</p>
    <p><strong>City:</strong> {{ selectedBusiness.contact.city || 'N/A' }}</p>
    <p><strong>Pincode:</strong> {{ selectedBusiness.contact.pincode || 'N/A' }}</p>
    <p><strong>Address:</strong> {{ selectedBusiness.contact.streetAddress || 'N/A' }}</p>

   <p> <strong>Phone:</strong>
{{ selectedBusiness.contact.phoneCode || '' }}
{{ selectedBusiness.contact.phone || 'N/A' }}
    <p><strong>Email:</strong> {{ selectedBusiness.contact.email || 'N/A' }}</p>
  </div>
 
  <!-- RIGHT SIDE (IMAGE) -->
  <div class="image-section" *ngIf="selectedPhotos.length > 0">
   
 
    <img
      *ngFor="let p of selectedPhotos"
      [src]="'http://localhost:5138' + p.imageUrl"
      class="view-image"
    />
  </div>
 
</div>
 
    </div>
  </div>
 
  <!-- EDIT MODAL -->
  <div class="view-overlay" *ngIf="editingBusiness">
    <div class="view-card">
 
      <div class="view-header">
        <h3 class="view-title">Edit Business</h3>
        <button class="close-btn" (click)="cancelEdit()">✕</button>
      </div>
 
      <form #form="ngForm" class="view-content edit-form" (ngSubmit)="saveEdits()">
 
        <div class="form-group full">
          <label>Business Name</label>
          <input [(ngModel)]="editingBusiness.businessName" name="bn"
            required minlength="3" pattern="^[a-zA-Z0-9 ]+$" #bn="ngModel" />
          <small class="error" *ngIf="bn.invalid && bn.touched">Invalid name</small>
        </div>
 
        <div class="form-row">
          <div class="form-group">
            <label>Category</label>
            <select [(ngModel)]="editingBusiness.category"
                    name="cat"
                    (change)="onCategoryChange(editingBusiness.category)"
                    required #cat="ngModel">

              <option value="">Select</option>
              <option *ngFor="let c of categories" [value]="c.name.toLowerCase()">
                {{ c.name | titlecase}}
              </option>
            </select>
          </div>
 
          <div class="form-group">
            <label>Subcategory</label>
            <select [(ngModel)]="editingBusiness.subcategory"
                    name="sub"
                    required #sub="ngModel">

              <option value="">Select</option>
              <option *ngFor="let s of filteredSubcategories" [value]="s.name">
                {{ s.name }}
              </option>
            </select>
          </div>
        </div>
 
        <div class="form-group full">
          <label>Description</label>
          <textarea [(ngModel)]="editingBusiness.description"
            name="desc" required minlength="10" #desc="ngModel"></textarea>
        </div>
 
        <div class="form-row">
          <div class="form-group">
            <label>Country</label>
            <select [(ngModel)]="editingBusiness.contact.country"
              name="country"
              (change)="onCountryChange(editingBusiness.contact.country || '')"
              required #country="ngModel">
              <option value="">Select</option>
              <option *ngFor="let c of countries" [value]="c.name">{{ c.name }}</option>
            </select>
          </div>
 
          <div class="form-group">
            <label>State</label>
            <select [(ngModel)]="editingBusiness.contact.state"
        name="state"
        (change)="onStateChange(editingBusiness?.contact?.state || '')" required>
              <option value="">Select</option>
              <option *ngFor="let s of states" [value]="s.name">
  {{ s.name }}
</option>
            </select>
          </div>
        </div>
 
        <div class="form-group full">
          <label>Street Address</label>
          <input [(ngModel)]="editingBusiness.contact.streetAddress"
            name="street" required minlength="5" #street="ngModel" />
        </div>
 
        <div class="form-row">
          <div class="form-group">
            <label>City</label>
            <select [(ngModel)]="editingBusiness.contact.city"
        name="city"
        required>

  <option value="">Select</option>

  <option *ngFor="let c of cities" [value]="c.name">
    {{ c.name }}
  </option>

</select>
          </div>
 
          <div class="form-group">
            <label>Pincode</label>
            <input [(ngModel)]="editingBusiness.contact.pincode"
              name="pin"
              required
              (blur)="onPincodeChange()"

              #pin="ngModel" />
              <small class="error" *ngIf="pincodeError">
  {{ pincodeError }}
</small>
            
          </div>
        </div>
 
        <div class="form-row">
 
          <div class="form-group" style="max-width:120px;">
            <label>Code</label>
            <input [(ngModel)]="editingBusiness.contact.phoneCode"
  name="phoneCode"
  placeholder="+91"
  required
  #code="ngModel" />

        <small class="error" *ngIf="code.invalid && code.touched">
          Enter valid country code (e.g. +91)
        </small>
          </div>
 
          <div class="form-group">
            <label>Phone</label>
            <input [(ngModel)]="editingBusiness.contact.phone"
  name="phone"
  required
  [pattern]="getPhonePattern()"
  #phone="ngModel" />
            <small class="error" *ngIf="phone.invalid && phone.touched">
              Invalid phone
            </small>
          </div>
 
          <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="editingBusiness.contact.email"
  name="email"
  required
  pattern="^[a-zA-Z0-9][a-zA-Z0-9._%+\-]*@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
  #email="ngModel" />
            <small class="error" *ngIf="email.invalid && email.touched">
              Invalid email
            </small>
          </div>
 
        </div>
 
        <!--  ADDED: EXISTING IMAGES -->
        <div *ngIf="selectedPhotos && selectedPhotos.length > 0">
          <h4>Existing Images</h4>
 
          <div *ngFor="let p of selectedPhotos">
            <img [src]="'http://localhost:5138' + p.imageUrl"
                 style="width:120px;height:120px;margin:5px;border-radius:8px;" />
 
            <button type="button"
                    class="btn-outline"
                    (click)="deleteImage(p.photoId)">
              Remove
            </button>
          </div>
        </div>
 
        <!--  ADDED: UPLOAD -->
        <div class="form-group full">
          <label>Upload New Image</label>
 
          <input type="file" (change)="onFileSelected($event)" />
 
          <button type="button"
                  class="btn-primary"
                  (click)="uploadImage()"
                  [disabled]="!selectedFile">
            Upload
          </button>
        </div>
 
        <div class="actions edit-actions">
          <div *ngIf="form.invalid && form.touched" class="error">
            Please fill all required fields correctly before saving.
          </div>

          <button type="submit"
                  class="btn-primary"
                  [disabled]="form.invalid">
            Save
          </button>
 
          <button type="button" class="btn-outline" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
 
      </form>
    </div>
  </div>
 
</div>
 
<div 
  class="overlay" 
  *ngIf="showProfile"
  (click)="closeProfile()">
</div>

<div 
  class="profile-drawer" 
  [class.open]="showProfile">

  <app-profile></app-profile>

</div>