<div class="container">
 
  <header class="header">

  <div class="logo" (click)="scrollToTop()">Localink</div>

  <div class="header-right">

    <h2 class="welcome">Welcome, {{ fullName || 'User' }}</h2>

    <div class="profile" (click)="toggleProfile()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
           viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
    </div>

  </div>

</header>
 
  <div class="hero">
    <h1>Welcome to Business Dashboard !</h1>
    <p>View and manage your registered businesses with ease.</p>
 
    <button class="btn-primary add-btn" (click)="addBusiness()">
      + Add Business
    </button>
  </div>
 
  <div *ngIf="isLoading" class="empty">
    <h3>Loading businesses...</h3>
  </div>

  <!-- MAIN CONTENT (only after loading) -->
  <div *ngIf="!isLoading">

    <!-- BUSINESS LIST -->
    <div *ngIf="businesses.length > 0; else emptyState" class="business-list">
      <div class="card" *ngFor="let b of businesses; trackBy: trackById">
        <h3>{{ b.businessName }}</h3>
        <p>{{ b.category | titlecase}} - {{ b.subcategory | titlecase}}</p>
        <span class="status">{{ b.status | titlecase}}</span>
 
        <div class="actions">
          <button class="btn-outline" (click)="viewBusiness(b.id)">View</button>
          <button class="btn-primary" (click)="editBusiness(b.id)">Edit</button>
        </div>
      </div>
    </div>
 
    <ng-template #emptyState>
      <div class="empty">
        <h3>No Businesses Yet</h3>
        <button class="btn-primary" (click)="addBusiness()">Add Business</button>
      </div>
    </ng-template>
  </div>

  <!-- VIEW PANEL -->
  <div class="view-overlay" *ngIf="selectedBusiness">
    <div class="view-card">
 
      <div class="view-header">
        <h3 class="view-title">Business Details</h3>
        <button class="close-btn" (click)="closeView()">✕</button>
      </div>
 
      <div class="view-content split-layout">
   <!-- LEFT SIDE -->
  <div class="details">
    <p><strong>Name:</strong> {{ selectedBusiness.businessName }}</p>
    <p><strong>Category:</strong> {{ selectedBusiness.category| titlecase  }}</p>
    <p><strong>Subcategory:</strong> {{ selectedBusiness.subcategory }}</p>
    <p><strong>Status:</strong> {{ selectedBusiness.status }}</p>
    <p><strong>Description:</strong> {{ selectedBusiness.description }}</p>

        <hr>

        <p><strong>Phone:</strong> {{ selectedBusiness.contact?.phone }}</p>
        <p><strong>Email:</strong> {{ selectedBusiness.contact?.email }}</p>
        <p><strong>City:</strong> {{ selectedBusiness.contact?.city }}</p>

      </div>

    </div>

  </div>

</div>