<div class="hours-container">

<h3>Business Working Hours</h3>

<div class="day-tabs">

<button
*ngFor="let day of days"
(click)="selectDay(day)"
[class.active]="selectedDay === day">

{{day}}

<span *ngIf="businessHours[day].closed">
(Closed)
</span>

</button>

</div>


<div class="quick-actions">

<button (click)="applyWeekdays()">
Apply Monday hours to Weekdays
</button>

<button (click)="toggleClosed(selectedDay)">
Toggle Closed
</button>

</div>


<div *ngIf="!businessHours[selectedDay].closed">

<div
class="slot"
*ngFor="let slot of timeSlots; let i = index">

<label>From</label>

<input
type="time"
[(ngModel)]="slot.open">

<span>→</span>

<label>To</label>

<input
type="time"
[(ngModel)]="slot.close">

<button
(click)="removeSlot(i) " class="remove">
Remove
</button>

</div>

<button class="add-slot" (click)="addSlot()">
Add Slot
</button>

</div>


<div class="error" *ngIf="errorMessage">
{{errorMessage}}
</div>


<button (click)="submitHours()" class="save">
Save Hours
</button>

</div>