<div class="forgot-page">

  <div class="forgot-container">

    <h2>Reset Password</h2>

    <form [formGroup]="forgotForm" (ngSubmit)="submit()">

      <label>Email</label>

      <input
        type="email"
        placeholder="Enter your email"
        formControlName="email"
      />

      <div class="error"
      *ngIf="forgotForm.controls['email'].touched &&
      forgotForm.controls['email'].invalid">
      Invalid Email
      </div>

      <button
      type="submit"
      [disabled]="forgotForm.invalid">
      Continue
      </button>

      <div class="success" *ngIf="message">
        {{message}}
      </div>

    </form>

  </div>

</div>