<div class="forgot-wrapper">

  <div class="forgot-card">

    <!-- STEP 1 -->
    <ng-container *ngIf="step === 1">

      <h2 class="title">Reset Password</h2>
      <p class="subtitle">Enter your email</p>

      <form [formGroup]="emailForm" (ngSubmit)="verifyEmail()">

        <div class="input-group">
          <label>Email</label>
          <input type="email" formControlName="email" />

          <div class="error"
               *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || submitted)">
            Enter valid email
          </div>
        </div>

        <button class="btn-submit" [disabled]="emailForm.invalid || isLoading">
          {{ isLoading ? 'Checking...' : 'Continue' }}
        </button>

      </form>

    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="step === 2">

      <h2 class="title">Set New Password</h2>

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

        <!-- NEW PASSWORD -->
        <div class="input-group">
          <label>New Password</label>
          <div class="input-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />

            <span class="eye-icon" (click)="togglePassword()">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          </div>
        </div>
        <div class="error"
     *ngIf="
       resetForm.get('password')?.invalid &&
       (resetForm.get('password')?.dirty || submitted)
     ">


  <span *ngIf="resetForm.get('password')?.errors?.['minlength']">
    Minimum 8 characters required
  </span>

  <span *ngIf="resetForm.get('password')?.errors?.['pattern']">
    Must include uppercase, lowercase, number, special character and no spaces
  </span>

</div>

        <!-- CONFIRM PASSWORD -->
        <div class="input-group">
          <label>Confirm Password</label>

          <div class="input-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" />

            <span class="eye-icon" (click)="toggleConfirmPassword()">
              <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          </div>

          <div class="error"
     *ngIf="
       resetForm.errors?.['mismatch'] &&
       (resetForm.get('confirmPassword')?.touched || submitted)
     ">
  Passwords do not match
</div>
        </div>

        <button class="btn-submit" [disabled]="resetForm.invalid || isLoading">
          {{ isLoading ? 'Updating...' : 'Update Password' }}
        </button>

      </form>

    </ng-container>

    <!-- STEP 3 -->
    <ng-container *ngIf="step === 3">
  <div class="success-container">

    <div class="spinner"></div>

    <div class="success-text">
      <h3>Password updated successfully</h3>
      <p>Redirecting to login in {{ countdown }}...</p>
    </div>

  </div>
</ng-container>

  </div>

</div>