.password-wrapper{
  max-width:700px;
  margin:60px auto;
}

.password-card{
  background:#2A2A2A;
  border:1px solid #484948;
  border-radius:12px;
  padding:30px;
}

.password-card h2{
  margin-bottom:20px;
}

.password-card label{
  display:block;
  margin-top:10px;
  color:#B19F91;
}

.password-card input{
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #484948;
  background:#343434;
  color:#F8F4F0;
}

.password-card button{
  width:100%;
  padding:12px;
  background:#C8A97E;
  border:none;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
}

.error{
  color:#ff4d4f;
  margin-top:10px;
}

.success{
  color:#4CAF50;
  margin-top:10px;
}
.input-group{
  position: relative;
}

.input-group span{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.valid{
  border: 2px solid #4CAF50 !important;
}

.invalid{
  border: 2px solid #ff4d4f !important;
}
/* Hide browser default password reveal icon (Edge / Chrome) */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
