<div class="password-wrapper">

  <div class="password-card">

    <h2>Change Password</h2>

    <!-- CURRENT PASSWORD -->
    <label>Current Password</label>
    <div class="input-group">
      <input
        [type]="showCurrent ? 'text' : 'password'"
        [(ngModel)]="currentPassword"
        (blur)="validateCurrent()"
        [class.valid]="currentValid"
        [class.invalid]="currentValid === false"
      >

      <span *ngIf="currentPassword" (click)="showCurrent = !showCurrent">
        👁
      </span>
    </div>
    <p class="error" *ngIf="currentError">{{currentError}}</p>


    <!-- NEW PASSWORD -->
    <label>New Password</label>
    <div class="input-group">
      <input
        [type]="showNew ? 'text' : 'password'"
        [(ngModel)]="newPassword"
        (blur)="validateNew()"
        [class.valid]="newValid"
        [class.invalid]="newValid === false"
      >

      <span *ngIf="newPassword" (click)="showNew = !showNew">
        👁
      </span>
    </div>
    <p class="error" *ngIf="newError">{{newError}}</p>


    <!-- CONFIRM PASSWORD -->
    <label>Confirm Password</label>
    <div class="input-group">
      <input
        [type]="showConfirm ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        (blur)="validateConfirm()"
        [class.valid]="confirmValid"
        [class.invalid]="confirmValid === false"
      >

      <span *ngIf="confirmPassword" (click)="showConfirm = !showConfirm">
        👁
      </span>
    </div>
    <p class="error" *ngIf="confirmError">{{confirmError}}</p>


    <!-- BUTTON -->
    <button (click)="changePassword()">
      Update Password
    </button>

    <!-- SUCCESS MESSAGE -->
    <p class="success" *ngIf="successMessage">{{successMessage}}</p>

  </div>

</div>