/* You can add global styles to this file, and also import other style files */
/* body{
  font-family: 'Inter', sans-serif;
} */
@import "@ng-select/ng-select/themes/default.theme.css";
@import "leaflet/dist/leaflet.css";
body{
  margin:0;
  /* background:#1C1C1C; */
  color:#F8F4F0;
  font-family:system-ui, -apple-system, sans-serif;
}

*{
  box-sizing:border-box;
  caret-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  caret-color: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* NG SELECT DEFAULT THEME */


/* Full page background */
html, body{
  height:100%;
  margin:0;
  padding:0;
  background: transparent; /* 🔥 IMPORTANT */
}

/* Angular root component */
app-root{
display:block;
min-height:100vh;
/* background-color:#1C1C1C; */
}

/* ----------------------------- */
/* NG SELECT DARK THEME OVERRIDE */
/* ----------------------------- */

ng-select{
width:100%;
}

/* Main select box */
ng-select .ng-select-container{
background:#343434 !important;
border:1px solid #484948 !important;
color:#F8F4F0 !important;
min-height:40px;
border-radius:6px;
display:flex;
align-items:center;
}

/* Placeholder */
ng-select .ng-placeholder{
color:#B19F91 !important;
opacity:1 !important;
}

/* Selected value */
ng-select .ng-value{
color:#F8F4F0 !important;
}

/* Dropdown arrow */
ng-select .ng-arrow-wrapper .ng-arrow{
border-top-color:#F8F4F0 !important;
}

/* Dropdown panel */
.ng-dropdown-panel{
background:#343434 !important;
border:1px solid #484948 !important;
color:#F8F4F0 !important;
}

/* Dropdown options */
.ng-dropdown-panel .ng-option{
background:#343434 !important;
color:#F8F4F0 !important;
}

/* Hover option */
.ng-dropdown-panel .ng-option:hover{
background:#444 !important;
}

/* Selected option */
.ng-dropdown-panel .ng-option-selected{
background:#C8A97E !important;
color:#1C1C1C !important;
}

/* Focus effect */
ng-select.ng-select-focused .ng-select-container{
border-color:#C8A97E !important;
box-shadow:0 0 4px #C8A97E;
}

/* Search input text */
ng-select .ng-input input{
color:#F8F4F0 !important;
background:transparent !important;
}

/* Search placeholder */
ng-select .ng-input input::placeholder{
color:#B19F91 !important;
}


/* -------------------------------- */
/* FORCE SCROLLBAR FOR DROPDOWNS */
/* -------------------------------- */

.ng-dropdown-panel .ng-dropdown-panel-items{
max-height:200px !important;
overflow-y:auto !important;
}
