/* You can add global styles to this file, and also import other style files */
/* body{
  font-family: 'Inter', sans-serif;
} */
body{
  margin:0;
  background:#1C1C1C;
  color:#F8F4F0;
  font-family:system-ui, -apple-system, sans-serif;
}

*{
  box-sizing:border-box;
}