<div class="login-wrapper">

  <!-- LEFT -->
  <div class="login-left">
    <div class="plasma-bg"></div>
    <div class="particles"></div>
    <canvas class="lines-canvas"></canvas>
    <div class="cursor-glow"></div>
    <div class="logo-container">
    <img src="assets/remove_bg.png" alt="LocaLink Logo" />
  </div>

    <div class="left-content">
      <h1>Welcome Back</h1>
      <p>Experience premium business discovery</p>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="login-right">
    <div class="login-card" id="loginCard">

      <!-- LOGIN -->
      <ng-container *ngIf="currentView === 'login'">

        <h1 class="logo">LocaLink</h1>
        <p class="subtitle">Premium Business Platform</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <!-- EMAIL -->
          <div class="input-group">
            <label>Email</label>
            <input type="email"
              formControlName="usernameOrEmail"
              [class.invalid]="isInvalid('usernameOrEmail')" />

            <div class="error-text" *ngIf="isInvalid('usernameOrEmail')">
              {{ getError('usernameOrEmail') }}
            </div>
          </div>

          <!-- PASSWORD -->
          <div class="input-group">
            <label>Password</label>

            <div class="input-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                [class.invalid]="isInvalid('password')" />

              <span class="eye-icon" (click)="togglePassword()">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </span>
            </div>

            <div class="error-text" *ngIf="isInvalid('password')">
              {{ getError('password') }}
            </div>
          </div>

          <!-- SERVER ERROR -->
          <div class="server-error" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>

          <!-- BUTTON -->
          <button type="submit"
            [disabled]="isLoading || loginForm.invalid"
            class="btn-login">
            Sign In
          </button>

          <!-- FOOTER -->
          <div class="form-footer">
            <a (click)="goToForgotPassword()" class="link highlight">
              Forgot Password
            </a>

            <span class="divider">|</span>

            <a routerLink="/signup" class="link highlight">
              Create Account
            </a>
          </div>

        </form>
      </ng-container>

      <!-- FORGOT PASSWORD -->
      <ng-container *ngIf="currentView === 'forgot'">
        <app-forgot-password (backToLogin)="backToLogin()"></app-forgot-password>
      </ng-container>

    </div>
  </div>
</div>