<div class="login-wrapper">

  <!-- LEFT -->
  <div class="welcome-section">
    <h1>
      <span class="small-text">Welcome to</span><br>
      <span class="brand">Localink</span>
    </h1>
    <p class="tagline">Discover businesses around you</p>
  </div>

  <!-- RIGHT -->
  <div class="login-page">

    <div class="login-container">

      <h2 class="login-title">Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

        <!-- ACCOUNT TYPE -->
        <label>Account Type</label>
        <div class="select-wrapper">
          <select formControlName="userType"
                  [class.invalid]="isInvalid('userType')"
                  [class.valid]="isValid('userType')">
            <option value="" disabled>Select account type</option>
            <option value="user">User</option>
            <option value="client">Client</option>
          </select>
        </div>
        <div class="error" *ngIf="isInvalid('userType')">
          {{ getError('userType') }}
        </div>

        <!-- EMAIL -->
        <label>Email</label>
        <input type="email"
               placeholder="Enter email"
               formControlName="usernameOrEmail"
               [class.invalid]="isInvalid('usernameOrEmail')"
               [class.valid]="isValid('usernameOrEmail')" />

        <div class="error" *ngIf="isInvalid('usernameOrEmail')">
          {{ getError('usernameOrEmail') }}
        </div>

        <!-- PASSWORD -->
        <label>Password</label>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter password"
            formControlName="password"
            [class.invalid]="isInvalid('password')"
            [class.valid]="isValid('password')"
          />

          <span class="toggle-password" (click)="togglePassword()">
            <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
            <i *ngIf="!showPassword" class="fa-regular fa-eye"></i>
          </span>
        </div>

        <div class="error" *ngIf="isInvalid('password')">
          {{ getError('password') }}
        </div>

        <!-- BACKEND ERROR -->
        <div class="server-error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- BUTTON -->
        <button type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">Login</span>
          <span *ngIf="isLoading">Logging in...</span>
        </button>

        <div class="signup-section">
          Don't have an account?
          <a routerLink="/signup" class="signup-link">Sign up</a>
        </div>

      </form>

    </div>
  </div>
</div>