<div class="container">

  <!-- HEADER -->
  <div class="page-header">

    <a [routerLink]="['/subcategory', categoryId]" [queryParams]="{categoryName: categoryName}" class="back">
    {{ 'COMMON.BACK' | translate }} {{ 'SUBCATEGORY.TITLE' | translate }}
  </a>

    <div class="title-section">
      <h1>{{ subcategoryName | titlecase }}</h1>
      <p>{{ businesses.length }} {{ 'BUSINESS.FOUND' | translate }}</p>

      <div class="breadcrumb">
        {{ categoryName | titlecase }} › {{ subcategoryName | titlecase }}
      </div>
    </div>

  </div>

  <div class="divider"></div>


  <!-- BUSINESS LIST -->

  <div class="business-card"
     *ngFor="let b of paginatedBusinesses"
     [routerLink]="['/business', b.id]"
     [queryParams]="{
      categoryName: categoryName,
      subcategoryName: subcategoryName,
      categoryId: categoryId,
      subcategoryId: subcategoryId
    }">

    <!--IMAGE LEFT -->
    <div class="image">
      <img *ngIf="b.primaryImage" [src]="b.primaryImage" />
      <span *ngIf="!b.primaryImage">{{ 'COMMON.NO_IMAGE' | translate }}</span>
    </div>

    <!--  RIGHT CONTENT -->
    <div class="info">

      <div class="title-row">
        <h3>{{ b.name }}</h3>
      </div>

      <p class="category">
        {{ b.subcategoryName | titlecase}}
      </p>

      <p class="desc" *ngIf="b.description">
        {{ b.description }}
      </p>

      <div class="details">
        <span *ngIf="b.phoneNumber && b.phoneNumber.trim()">📞 {{ b.phoneNumber }}</span>
        <span *ngIf="b.city || b.state">{{ 'COMMON.PIN_ICON' | translate }} {{ b.city }}{{ b.city && b.state ? ', ' : '' }}{{ b.state }}</span>
      </div>

    </div>

    <div class="arrow">›</div>

  </div>


  <!-- PAGINATION -->

  <div class="pagination" *ngIf="totalPages > 1">

    <button (click)="changePage(currentPage-1)">
      {{ 'COMMON.PREVIOUS' | translate }}
    </button>

    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      (click)="changePage(i+1)"
      [class.active]="currentPage === i+1"
    >
      {{ i+1 }}
    </button>

    <button (click)="changePage(currentPage+1)">
      {{ 'COMMON.NEXT' | translate }}
    </button>

  </div>

</div>