.container{

padding:40px 60px;
background:#121212;
min-height:100vh;
color:#F8F4F0;
font-family:system-ui;

}


/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;

}

.logo{

font-size:24px;
font-weight:600;
color:#C8A97E;
letter-spacing:1px;

}

.profile{

cursor:pointer;
width:36px;
height:36px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

background:#2A2A2A;
border:1px solid #484948;

transition:0.2s;

}

.profile:hover{

background:#343434;

}



/* SEARCH */

.search-bar{

display:flex;
align-items:center;
gap:10px;

background:#2A2A2A;

padding:14px 18px;

border-radius:10px;

border:1px solid #484948;

margin-bottom:30px;

}

.search-bar input{

flex:1;
background:transparent;
border:none;
outline:none;

color:#F8F4F0;

font-size:15px;

}



/* HERO */

.hero{

background:linear-gradient(135deg,#2A2A2A,#343434);

padding:45px;

border-radius:14px;

margin-bottom:45px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

.hero h1{

margin:0;
font-size:34px;

}

.hero p{

color:#B19F91;
margin-top:10px;

}



/* CATEGORY */

.categories h2{

margin-bottom:20px;
font-size:22px;

}

.category-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:22px;

}



.category-card{

display:flex;
align-items:center;
gap:20px;

background:#1F1F1F;

padding:22px;

border-radius:14px;

border:1px solid #343434;

cursor:pointer;

transition:all 0.25s ease;

}

.category-card:hover{

transform:translateY(-6px);

background:#2A2A2A;

box-shadow:0 10px 30px rgba(0,0,0,0.6);

}



/* ICON */

.icon{

width:50px;
height:50px;

background:#C8A97E;

border-radius:12px;

display:flex;
align-items:center;
justify-content:center;

color:#121212;

}



/* TEXT */

.text h3{

margin:0;
font-size:17px;
font-weight:500;

}

.text p{

margin-top:5px;
font-size:14px;
color:#B19F91;

}



/* POPULAR */

.popular{

margin-top:50px;

}