<section class="popular-section">

  <div class="section-header">
    <h2 class="section-title">Popular This Week</h2>
  </div>

  <div class="carousel">

    <div class="business-card" *ngFor="let business of businesses" >

      <!-- Favorite Button -->
      <button (click)="toggleFavorite(business)" style="border:none; background:none; cursor:pointer; position:absolute; top:10px; right:10px; z-index:10;">
        <span *ngIf="business.isFavorite" style="font-size:24px;">❤️</span>
        <span *ngIf="!business.isFavorite" style="font-size:24px;">🤍</span>
      </button>

      <div class="image-placeholder">
        <img 
          *ngIf="business.image" 
          [src]="business.image" 
          [alt]="business.name"
        />
        <span *ngIf="!business.image">No Image</span>
      </div>

      <div class="card-content">

        <p class="category">
          {{ business.category | titlecase}}
        </p>

        <h3>{{ business.name }}</h3>

        <p class="description">
          {{ business.description }}
        </p>

        <div class="divider"></div>
        <div class="rating">
          <span class="stars">{{ getStars(business.rating) }}</span>
          <span class="rating-number">{{ business.rating }}/5</span>
        </div>

      </div>

    </div>

  </div>

</section>